html{
    font-size: 18px;
    
}

body{
    background-color: #ffe676;
    font-family: 'Poppins', sans-serif;
}

.pealkiri{
    margin-top: 60px;
    margin-left: 30px;
    color: rgb(85, 85, 85);;
}

.card{
    margin-top: 80px;
    box-shadow: 10px 10px 5px rgb(123, 123, 123);
    border: #8f8f8f;
}

.card-body{
    background-color: rgb(240, 240, 240);

}

.row{
    display: flex;
    flex-direction: column;
    
}

.btn{
    background-color: rgb(85, 85, 85);
    color: aliceblue;
    transition: all .4s;
}

.btn:hover{
    color: black;
    background-color: rgb(149, 149, 149);
}

.opituba{
    margin: 50px;
  
}

.ula-row{
    display: flex;
    flex-direction: row;
}

.meedia{
    margin-top: 80px;
    display: flex;
  
}

.meedia a{
    text-decoration: none;
    color: hwb(161 7% 69%);
    text-transform: uppercase;
    margin: 20px;
    padding: 20px;

}

.meedia ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.meedia ul :hover{

    color: rgb(122, 122, 122);
}

.opikook{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    padding-top: 50px;
    
    
}

.opikook img{
 
    margin-left: 50px;
    justify-content: space-evenly;
    margin-bottom: 30px;
    border: #020202;
}

.opituba{
    margin-bottom: 5px;
}

.jutt{
    text-align: justify;
    width: 170%;
    margin-left: 60px;
    color: hwb(161 7% 69%);
    padding-bottom: 50px;
}

.teine-row{
    display: flex;
    flex-direction: column;
}

